{% extends "base.html" %}

{% set title = "編集"%}

{% block content %}
    <div class="container">
        {% if series %}
        <form method="post" class="w-50">
            <div class="mb-3">
                <label for="series" class="form-label">タイトル</label>
                <input name="series" id="series" class="form-control" value="{{ series.get('title') }}" required>
            </div>
            <div class="mb-3">
                <label for="autor" class="form-label">タイトル</label>
                <input name="author" id="autthor" class="form-control" value="{{ series.get('author_name') }}" required>
            </div>
            <div class="mb-3">
                <label for="publisher_name" class="form-label">タイトル</label>
                <input name="publisher_name" id="publisher_name" class="form-control" value="{{ series.get('publisher_name') }}" required>
            </div>
        </form>
        <table class="table w-100">
            <thead>
                <tr>
                    <th class="w-auto" scope="col">巻数</th>
                    <th class="w-auto" scope="col">出版日</th>
                    <th class="w-auto" scope="col">所有サイト</th>
                    <th class="w-auto" scope="col">#</th>
                    <th class="w-auto" scope="col">#</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr><form method="post">
                    <td class="w-auto">{{ book['volueme'] }}<td>
                    <td class="w-auto"><input class="form-control" id="publication_date" value="{{ book['publication_date'] }}"></td>
                    <td class="w-auto"><input class="form-control" id="have_site" value="{{ have_site }}"></td>
                    <td class="w-auto"><button type="submit" class="btn btn-primary">編集</button></td>
                </form>
                <form action="{{ url_for(manager.book_del) }}" method="post">
                    <td><button type="submit" name="book_id" value="{{ book['id'] }}">削除</button></td>
                </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for(manager.series_del) }}" method="post">
            <button type="submit" name="title_id" value="{{ series['id'] }}">削除</button>
        </form>
    </div>
{% endblock %}