{% extends "base.html" %}

{% set title = "index" %}

{% block header %}
    <input type="text" id="book_title" class="form-controll">
    <button onclick="search()">検索</button>
    <a href="{{ url_for(manager.advanced)}}">詳細検索</a>
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
    <script>
    function search() {
        let book_title = document.getElementById("book_title");
        let url = "{{ url_for('manager.index')}}?book_title=" + encodeURIComponent(book_title);
        window.location.href = url;
    }
    </script>
{% endblock %}