{% extends "base.html" %}

{% set title = "index" %}

{% block header %}
    <a class="nav-link col-auto me-3" href="{{ url_for('manager.register_search') }}">検索登録</a>
    <a class="nav-link col-auto me-3" href="{{ url_for('manager.register') }}">手動登録</a>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('manager.index') }}" method="get" class="row">
            <div class="col-auto">
                <label for="SeriesName" class="form-label">タイトル</label>
                <input name="SeriesName" id="SeriesName" class="form-control">
            </div>
            <div class="col-auto">
                <label for="AuthorName" class="form-label">著者名</label>
                <input name="AuthorName" id="AuthorName" class="form-control">
            </div>
            <div class="col-auto">
                <label for="PublisherName" class="form-label">出版社名</label>
                <input name="PublisherName" id="PublisherName" class="form-control">
            </div>
            <div class="col-auto">
                <label for="LocationName" class="form-label">本の場所</label>
                <input name="LocationName" id="LocationName" class="form-control">
            </div>
            <button type="submit" class="btn bth-primary col-auto">検索</button>
        </form>
    </div>
    {% if Seriess %}
        <div class="accordion" id="accordion_Series">
            {% for Series in Seriess %}
                {% set SeriesID = Series.get('SeriesID') %}
                <div class="accordion-item">
                    <h2 class="accordion-item">
                        <button class="accordion-button" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#Series{{ SeriesID }}"
                            aria-expanded="false"
                            aria-controls="#Series{{ SeriesID }}">
                            {{ Series.get('SeriesName')}} | {{ ','.join(Series.get('Authors', []))}} | {{ Series.get('Publishers') }}
                        </button>
                    </h2>
                    <div id="Series{{ SeriesID }}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="card-header">
                                    <a href="{{ url_for('manager.series_edit', SeriesID=SeriesID)}}" class="btn btn-primary">シリーズ編集</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for book in Series.get('volumes') %}
                                    <li class="list-group-item">
                                        <div class=container>
                                            <div class="row">
                                                <p class="col-auto">{{ book['Title'] }}</p>
                                                <p class="col-auto">{{ book['PublicationDate'] }}</p>
                                                <p class="col-auto">{{ book['LocationName'] }}</p>
                                                <a href="{{ url_for('manager.series_edit', BookID=book['BookID']) }}" class="col-auto btn-primary">編集</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container w-100 fixed-bottom">
            <div class="row mx-auto">
                <a class="btn btn-primary col-auto me-3" href="{{ url_for('manager.index', **minus_parms) }}">prev</a>
                <a class="btn btn-primary col-auto me-3" href="{{ url_for('manager.index', **plus_parms) }}">next</a>
            </div>
        </div>
    {% else %}
        <h1> Book not found </h1>
    {% endif %}
{% endblock %}