{% extends "base.html" %}

{% set title = "index" %}

{% block content %}
    <div class="container">
        <form action="{{ url_for(manager.index) }}" method="get" class="row">
            {% for label in ["Title", "AuthorName", "PublisherName", "LocationName"] %}
                <div class="col-auto">
                    <label for="{{ label }}" class="form-label">{{ label }}</label>
                    <input name="{{ label }}" id="{{ label }}" class="form-control">
                </div>
            {% endfor %}
            <button type="submit" class="btn bth-primary">検索</button>
        </form>
    </div>
    {% if Seriess %}
        {% for Series in Seriess %}
            <div class="panel-group">
                <div class="panel panel-heading">
                    <div class="row">
                        <a data-toggle="collapse" href="#Series{{ Series['SeriesID'] }}">
                            <p class="col-auto">{{ Series["Title"] }}</p>
                            <p class="col-auto">{{ Series["PublisherName"] }}</p>
                            {% for author in Series["Authors"] %}
                                <p class="col-auto">{{ author }}</p>
                            {% endfor %}
                        </a>
                        <a href="{{ url_for(manager.series_edit, SeriesID=Series['SeriesID'])" class="btn btn-primary">編集</a>
                    </div>
                    <div id="Series{{ Series['SeriesID'] }}" class="panel-collapse collapse">
                        <ul class="list-group">
                            {% for volume in Series["volumes"] %}
                                <li class="list-group-item row">
                                    <p class="col-auto">{{ volume["Title"] }}</p>
                                    <p class="col-auto">{{ volume["PublicationDate"] }}</p>
                                    <p class="col-auto">{{ volume["LocationName"] }}</p>
                                    <a href="{{ url_for(manager.volume_edit, SeriesID=Series['BookID'])" class="col-auto btn btn-primary">編集</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        <div class="container w-100 fixed-bottom">
            <div class="row mx-auto">
                <a class="btn btn-primary col-auto me-3" href="{{ url_for(manager.index, **minus_parms) }}">prev</a>
                <a class="btn btn-primary col-auto me-3" href="{{ url_for(manager.index, **plus_parms) }}">next</a>
            </div>
        </div>
    {% else %}
        <h1> Book not found </h1>
    {% endif%}
{% endblock %}