{% extends "base.html" %}

{% set title = "登録検索"%}

{% block content %}
    <div class="container-fluid bg-secondary text-white pt-1 pb-3">
        <div class="container d-flex justify-content-center bg-secondary text-white">
            <form action="{{ url_for('manager.register_search') }}" method="get">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="keyword" class="form-label">キーワード</label>
                        <input name="keyword" id="keyword" class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="Title" class="form-label">タイトル</label>
                        <input name="Title" id="Title" class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="author" class="form-label">著者名</label>
                        <input name="author" id="author" class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input name="isbn" id="isbn" class="form-control">
                    </div>
                <button type="submit" class="btn btn-primary col-auto align-self-end">検索</button>
            </form>
        </div>
    </div>
    {% if Books %}
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">タイトル</th>
                        <th scope="col">著者</th>
                        <th scope="col">出版社</th>
                        <th scope="col">出版日</th>
                        <th scope="col">ISBN10</th>
                        <th scope="col">ISBN13</th>
                        <th scope="col">#<th>
                    </tr>
                </thead>
                <tbody>
                    {% for Book in Books %}
                        <tr>
                            <td>{{ Book.get("title") }}</td>
                            <td>{{ Book.get("author") }}</td>
                            <td>{{ Book.get("publisher") }}</td>
                            <td>{{ Book.get("publishe_date") }}</td>
                            <td>{{ Book.get("isbn_10") }}</td>
                            <td>{{ Book.get("isbn_13") }}</td>
                            <td>
                                <a href="{{ url_for('manager.register', **Book) }}" class="btn btn-primary">登録</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-3">
                {% if minus_parms["page"] %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('manager.register_search', **minus_parms) }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('manager.register_search', **plus_parms) }}">Next</a>
                </li>
            </ul>
        </nav>
    {% elif request.args %}
        <h1>本が見つかりませんでした</h1>
    {% endif %}
{% endblock %}