{% extends "base.html" %}

{% set title = "編集"%}

{% block content %}
    <div class="container">
        <form method="post" class="w-50">
            <input type="hidden" name="SeriesID" value="{{ SeriesData['SeriesID'] }}">
            <div class="mb-3">
                <label for="SeriesName" class="form-label">シリーズ名</label>
                <input name="SeriesName" id="SeriesName" class="form-control" value="{{ SeriesData['SeriesName'] }}" required>
            </div>
            <div class="mb-3">
                <label for="PublisherName" class="form-label">出版社名</label>
                <input name="PublisherName" id="PublisherName" class="form-control" value="{{ SeriesData['PublisherName'] }}">
            </div>
            <div class="mb-3">
                <label for="Authors" class="form-label">著者(カンマ区切り)</label>
                <input name="Authors" id="Authors" class="form-control" value="{{ Authors }}" required>
            </div>
            <button type="submit" class="btn btn-primary">変更</button>
        </form>
    </div>
{% endblock %}