{% extends "base.html" %}

{% set title = "ログイン"%}

{% block content %}
    <div class="container">
        <form method="post" class="w-50">
            <div class="mb-3">
                <label for="UserName" class="form-label">UserName</label>
                <input name="UserName" id="UserName" class="form-control" required>
            </div>
            <div>
                <label for="Password" class="form-label">Password</label>
                <input name="Password" id="Password" class="form-control" required>
            </div>
            <button type="submit" class="btn bth-primary">ログイン</button>
        </form>
    </div>
{% endblock %}